body {
  background-color: #0f172a;
}

.stApp {
  background: linear-gradient(135deg, #041b3d, #092c57);
  color: white;
}

h1 {
  color: gold;
  text-align: center;
}

.stTextInput input {
  font-size: 18px;
  padding: 10px;
  border-radius: 12px;
}

button {
  background: gold !important;
  color: black !important;
  border-radius: 12px !important;
}
